
*.bak
*.cdb
*.hdb
*.kpt
*.qmsg
db/mips-processor.db_info
db/mips-processor.sld_design_entry.sci
mips-processor.qsf
mips-processor.qws
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak9
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak8
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak7
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak6
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak5
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak4
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak3
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak2
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak11
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak10
simulation/questa/mips-processor_run_msim_rtl_verilog.do.bak1
simulation/questa/mips-processor_run_msim_rtl_verilog.do
simulation/questa/mips-processor.vo
simulation/questa/mips-processor.sft
simulation/modelsim/vsim.wlf
simulation/modelsim/verilog_libs/sgate_ver/_vmake
simulation/modelsim/verilog_libs/sgate_ver/_lib1_21.qtl
simulation/modelsim/verilog_libs/sgate_ver/_lib1_21.qpg
simulation/modelsim/verilog_libs/sgate_ver/_lib1_21.qdb
simulation/modelsim/verilog_libs/sgate_ver/_lib.qdb
simulation/modelsim/verilog_libs/sgate_ver/_info
simulation/modelsim/verilog_libs/lpm_ver/_vmake
simulation/modelsim/verilog_libs/lpm_ver/_lib1_21.qtl
simulation/modelsim/verilog_libs/lpm_ver/_lib1_21.qpg
simulation/modelsim/verilog_libs/lpm_ver/_lib1_21.qdb
simulation/modelsim/verilog_libs/lpm_ver/_lib.qdb
simulation/modelsim/verilog_libs/lpm_ver/_info
simulation/modelsim/verilog_libs/cycloneive_ver/_vmake
simulation/modelsim/verilog_libs/cycloneive_ver/_lib1_20.qtl
simulation/modelsim/verilog_libs/cycloneive_ver/_lib1_20.qpg
simulation/modelsim/verilog_libs/cycloneive_ver/_lib1_20.qdb
simulation/modelsim/verilog_libs/cycloneive_ver/_lib.qdb
simulation/modelsim/verilog_libs/cycloneive_ver/_info
simulation/modelsim/verilog_libs/altera_ver/_vmake
simulation/modelsim/verilog_libs/altera_ver/_lib1_21.qtl
simulation/modelsim/verilog_libs/altera_ver/_lib1_21.qpg
simulation/modelsim/verilog_libs/altera_ver/_lib1_21.qdb
simulation/modelsim/verilog_libs/altera_ver/_lib.qdb
simulation/modelsim/verilog_libs/altera_ver/_info
simulation/modelsim/verilog_libs/altera_mf_ver/_vmake
simulation/modelsim/verilog_libs/altera_mf_ver/_lib1_21.qtl
simulation/modelsim/verilog_libs/altera_mf_ver/_lib1_21.qpg
simulation/modelsim/verilog_libs/altera_mf_ver/_lib1_21.qdb
simulation/modelsim/verilog_libs/altera_mf_ver/_lib.qdb
simulation/modelsim/verilog_libs/altera_mf_ver/_info
simulation/modelsim/verilog_libs/altera_lnsim_ver/_vmake
simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib1_20.qtl
simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib1_20.qpg
simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib1_20.qdb
simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib.qdb
simulation/modelsim/verilog_libs/altera_lnsim_ver/_info
simulation/modelsim/rtl_work/_vmake
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_info
simulation/modelsim/msim_transcript
simulation/modelsim/modelsim.ini
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak9
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak8
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak7
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak6
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak5
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak4
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak3
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak2
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak11
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak10
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do.bak1
simulation/modelsim/mips-processor_run_msim_rtl_verilog.do
simulation/modelsim/mips-processor_modelsim.xrf
simulation/modelsim/mips-processor.vo
simulation/modelsim/mips-processor.sft
simulation/modelsim/mips-processor.MIPS0.rtl.mif
output_files/mips-processor.sta.summary
output_files/mips-processor.sta.rpt
output_files/mips-processor.sof
output_files/mips-processor.sld
output_files/mips-processor.pof
output_files/mips-processor.pin
output_files/mips-processor.map.summary
output_files/mips-processor.map.smsg
output_files/mips-processor.map.rpt
output_files/mips-processor.jdi
output_files/mips-processor.flow.rpt
output_files/mips-processor.fit.summary
output_files/mips-processor.fit.smsg
output_files/mips-processor.fit.rpt
output_files/mips-processor.eda.rpt
output_files/mips-processor.done
output_files/mips-processor.cdf
output_files/mips-processor.asm.rpt
mips-processor_nativelink_simulation.rpt
mips-processor.csv
incremental_db/README
incremental_db/compiled_partitions/mips-processor.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/mips-processor.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/mips-processor.root_partition.map.dpi
incremental_db/compiled_partitions/mips-processor.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/mips-processor.root_partition.cmp.logdb
incremental_db/compiled_partitions/mips-processor.root_partition.cmp.dfp
incremental_db/compiled_partitions/mips-processor.root_partition.cmp.ammdb
incremental_db/compiled_partitions/mips-processor.db_info
db/mips-processor_partition_pins.json
db/mips-processor.vpr.ammdb
db/mips-processor.tmw_info
db/mips-processor.tiscmp.slow_1200mv_85c.ddb
db/mips-processor.tiscmp.slow_1200mv_0c.ddb
db/mips-processor.tiscmp.fast_1200mv_0c.ddb
db/mips-processor.tis_db_list.ddb
db/mips-processor.sta_cmp.7_slow_1200mv_85c.tdb
db/mips-processor.sta.rdb
db/mips-processor.smart_action.txt
db/mips-processor.sld_design_entry_dsc.sci
db/mips-processor.routing.rdb
db/mips-processor.quiproj.6688.rdr.flock
db/mips-processor.pplq.rdb
db/mips-processor.MIPS0.rtl.mif
db/mips-processor.map_bb.logdb
db/mips-processor.map.rdb
db/mips-processor.map.logdb
db/mips-processor.map.bpm
db/mips-processor.map.ammdb
db/mips-processor.lpc.txt
db/mips-processor.lpc.rdb
db/mips-processor.lpc.html
db/mips-processor.hif
db/mips-processor.hier_info
db/mips-processor.cycloneive_io_sim_cache.45um_ii_1200mv_85c_slow.hsd
db/mips-processor.cycloneive_io_sim_cache.45um_ii_1200mv_0c_slow.hsd
db/mips-processor.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/mips-processor.cmp.rdb
db/mips-processor.cmp.logdb
db/mips-processor.cmp.idb
db/mips-processor.cmp.bpm
db/mips-processor.cbx.xml
db/mips-processor.asm_labs.ddb
db/mips-processor.asm.rdb
db/altsyncram_rp01.tdf
